/* Works Sans form form google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared Styles */

body {
    font-family: 'Work Sans', sans-serif;

}

.btn-primary {
    color: #FFF;
    font-size: 1.3rem;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #FF900E;
    border: none;
    cursor: pointer;
}


/* Header styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* Nav Styles Start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles Star */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}

header img {
    margin-top: 20px;
    width: 100%;
}


/* Media Query Mobile devices Start */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

}

/* Media Query Tablet devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

}
/* features related styles start */
main, footer {
    padding: 50px 240px;
}
.features {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-images {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;    
}
.features-title {
    font-size: 2.9rem;
    font-weight: 700;
    color: #131313;
}
.quick-list {
    color: #727272;
}
.our-features {
    color: #FF900E;
}
/* Media Query Mobile devices Start */

@media screen and (max-width: 576px) {
    main {
        padding: 10px 50px;
        text-align: center;
    }
    .features {    
        flex-direction: column-reverse;
    }
    .features-images {
        padding: 10px 20px;
        grid-template-columns: repeat(1, 1fr); 
    }

}

/* Media Query Tablet devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    main {
        padding: 20px 80px;
        text-align: center;
    }
    .features {    
        flex-direction: column-reverse;
    }
    .features-images {
        padding: 20px 40px;
        grid-template-columns: repeat(1, 1fr); 
    }

}